<footer>
    <div class="footer-info sticky-bottom">
        <div class="f-info-socialMedia">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand"><i class="fa-solid fa-copyright"></i>Airbnb Private Limited ... </div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">Terms & Conditions</a>
        </div>
    </div>
</footer>